#particles-js {
  width: 100vw;
  height: 100vh;
  position: absolute;
  /*min-height: 100vh;*/
  margin: 0;
  padding: 0;

  /*background-image: url('galaxy.jpg');*/
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -3;
}

#header-jumbotron {
  padding: 0;
  margin: 0;
  overflow: hidden;
  /*height: 100% !important;*/
  /*background-image: url('galaxy.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;*/
  background-image: url('galaxy.jpg');
  background-position: center;
  background-color: #000000BB;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  position:relative;
  z-index: 0;
}

#header-content {
  color: white;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#header-hide {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  top: 100px;
  z-index: 5;
  }

.nav-link, .nav-link:hover {
  color: #D7D6CD;
}

#logo-first-letters {
  color: red;
}

#main-navbar {
  z-index: 0;
}
@media (max-width: 768px) {
  #main-navbar {
    z-index: 10;
  }
}

.down-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 20;
  margin: 0 auto;
}
